(C) Elena Fernández Fernández

# 1. Opening and Writing files

Opening and reading files is a very important task in Python! We will use the two methods that we have learnt so far.

# With open:

Import the "Emma.txt" data, that contains the first chapter of the novel Emma, by Jane Austen, using **with open()**

In [14]:
#Your code in here

In [15]:
#Solution

In [1]:
with open("Emma.txt", "r", encoding = "utf-8") as f:
    data_emma = f.read()

In [2]:
data_emma

'[Emma by Jane Austen 1816]\n\nVOLUME I\n\nCHAPTER I\n\n\nEmma Woodhouse, handsome, clever, and rich, with a comfortable home\nand happy disposition, seemed to unite some of the best blessings\nof existence; and had lived nearly twenty-one years in the world\nwith very little to distress or vex her.\n\nShe was the youngest of the two daughters of a most affectionate,\nindulgent father; and had, in consequence of her sister\'s marriage,\nbeen mistress of his house from a very early period.  Her mother\nhad died too long ago for her to have more than an indistinct\nremembrance of her caresses; and her place had been supplied\nby an excellent woman as governess, who had fallen little short\nof a mother in affection.\n\nSixteen years had Miss Taylor been in Mr. Woodhouse\'s family,\nless as a governess than a friend, very fond of both daughters,\nbut particularly of Emma.  Between _them_ it was more the intimacy\nof sisters.  Even before Miss Taylor had ceased to hold the nominal\noffice of governess, the mildness of her temper had hardly allowed\nher to impose any restraint; and the shadow of authority being\nnow long passed away, they had been living together as friend and\nfriend very mutually attached, and Emma doing just what she liked;\nhighly esteeming Miss Taylor\'s judgment, but directed chiefly by\nher own.\n\nThe real evils, indeed, of Emma\'s situation were the power of having\nrather too much her own way, and a disposition to think a little\ntoo well of herself; these were the disadvantages which threatened\nalloy to her many enjoyments.  The danger, however, was at present\nso unperceived, that they did not by any means rank as misfortunes\nwith her.\n\nSorrow came--a gentle sorrow--but not at all in the shape of any\ndisagreeable consciousness.--Miss Taylor married.  It was Miss\nTaylor\'s loss which first brought grief.  It was on the wedding-day\nof this beloved friend that Emma first sat in mournful thought\nof any continuance.  The wedding over, and the bride-people gone,\nher father and herself were left to dine together, with no prospect\nof a third to cheer a long evening.  Her father composed himself\nto sleep after dinner, as usual, and she had then only to sit\nand think of what she had lost.\n\nThe event had every promise of happiness for her friend.  Mr. Weston\nwas a man of unexceptionable character, easy fortune, suitable age,\nand pleasant manners; and there was some satisfaction in considering\nwith what self-denying, generous friendship she had always wished\nand promoted the match; but it was a black morning\'s work for her.\nThe want of Miss Taylor would be felt every hour of every day.\nShe recalled her past kindness--the kindness, the affection of sixteen\nyears--how she had taught and how she had played with her from five\nyears old--how she had devoted all her powers to attach and amuse\nher in health--and how nursed her through the various illnesses\nof childhood.  A large debt of gratitude was owing here; but the\nintercourse of the last seven years, the equal footing and perfect\nunreserve which had soon followed Isabella\'s marriage, on their\nbeing left to each other, was yet a dearer, tenderer recollection.\nShe had been a friend and companion such as few possessed: intelligent,\nwell-informed, useful, gentle, knowing all the ways of the family,\ninterested in all its concerns, and peculiarly interested in herself,\nin every pleasure, every scheme of hers--one to whom she could speak\nevery thought as it arose, and who had such an affection for her\nas could never find fault.\n\nHow was she to bear the change?--It was true that her friend was\ngoing only half a mile from them; but Emma was aware that great must\nbe the difference between a Mrs. Weston, only half a mile from them,\nand a Miss Taylor in the house; and with all her advantages,\nnatural and domestic, she was now in great danger of suffering\nfrom intellectual solitude.  She dearly loved her father, but he\nwas no companion for her.  He could not meet her in conversation,\nrational or playful.\n\nThe evil of the actual disparity in their ages (and Mr. Woodhouse had\nnot married early) was much increased by his constitution and habits;\nfor having been a valetudinarian all his life, without activity\nof mind or body, he was a much older man in ways than in years;\nand though everywhere beloved for the friendliness of his heart\nand his amiable temper, his talents could not have recommended him\nat any time.\n\nHer sister, though comparatively but little removed by matrimony,\nbeing settled in London, only sixteen miles off, was much beyond\nher daily reach; and many a long October and November evening must\nbe struggled through at Hartfield, before Christmas brought the next\nvisit from Isabella and her husband, and their little children,\nto fill the house, and give her pleasant society again.\n\nHighbury, the large and populous village, almost amounting to a town,\nto which Hartfield, in spite of its separate lawn, and shrubberies,\nand name, did really belong, afforded her no equals.  The Woodhouses\nwere first in consequence there.  All looked up to them.  She had\nmany acquaintance in the place, for her father was universally civil,\nbut not one among them who could be accepted in lieu of Miss\nTaylor for even half a day.  It was a melancholy change; and Emma\ncould not but sigh over it, and wish for impossible things,\ntill her father awoke, and made it necessary to be cheerful.\nHis spirits required support.  He was a nervous man, easily depressed;\nfond of every body that he was used to, and hating to part with them;\nhating change of every kind.  Matrimony, as the origin of change,\nwas always disagreeable; and he was by no means yet reconciled\nto his own daughter\'s marrying, nor could ever speak of her but\nwith compassion, though it had been entirely a match of affection,\nwhen he was now obliged to part with Miss Taylor too; and from\nhis habits of gentle selfishness, and of being never able to\nsuppose that other people could feel differently from himself,\nhe was very much disposed to think Miss Taylor had done as sad\na thing for herself as for them, and would have been a great deal\nhappier if she had spent all the rest of her life at Hartfield.\nEmma smiled and chatted as cheerfully as she could, to keep him\nfrom such thoughts; but when tea came, it was impossible for him\nnot to say exactly as he had said at dinner,\n\n"Poor Miss Taylor!--I wish she were here again.  What a pity it\nis that Mr. Weston ever thought of her!"\n\n"I cannot agree with you, papa; you know I cannot.  Mr. Weston is such\na good-humoured, pleasant, excellent man, that he thoroughly deserves\na good wife;--and you would not have had Miss Taylor live with us\nfor ever, and bear all my odd humours, when she might have a house of her own?"\n\n"A house of her own!--But where is the advantage of a house of her own?\nThis is three times as large.--And you have never any odd humours,\nmy dear."\n\n"How often we shall be going to see them, and they coming to see\nus!--We shall be always meeting! _We_ must begin; we must go and pay\nwedding visit very soon."\n\n"My dear, how am I to get so far? Randalls is such a distance.\nI could not walk half so far."\n\n"No, papa, nobody thought of your walking.  We must go in the carriage,\nto be sure."\n\n"The carriage! But James will not like to put the horses to for\nsuch a little way;--and where are the poor horses to be while we\nare paying our visit?"\n\n"They are to be put into Mr. Weston\'s stable, papa.  You know we\nhave settled all that already.  We talked it all over with Mr. Weston\nlast night.  And as for James, you may be very sure he will always like\ngoing to Randalls, because of his daughter\'s being housemaid there.\nI only doubt whether he will ever take us anywhere else.  That was\nyour doing, papa.  You got Hannah that good place.  Nobody thought\nof Hannah till you mentioned her--James is so obliged to you!"\n\n"I am very glad I did think of her.  It was very lucky, for I would\nnot have had poor James think himself slighted upon any account;\nand I am sure she will make a very good servant: she is a civil,\npretty-spoken girl; I have a great opinion of her.  Whenever I see her,\nshe always curtseys and asks me how I do, in a very pretty manner;\nand when you have had her here to do needlework, I observe she\nalways turns the lock of the door the right way and never bangs it.\nI am sure she will be an excellent servant; and it will be a great\ncomfort to poor Miss Taylor to have somebody about her that she is\nused to see.  Whenever James goes over to see his daughter, you know,\nshe will be hearing of us.  He will be able to tell her how we\nall are."\n\nEmma spared no exertions to maintain this happier flow of ideas,\nand hoped, by the help of backgammon, to get her father tolerably\nthrough the evening, and be attacked by no regrets but her own.\nThe backgammon-table was placed; but a visitor immediately afterwards\nwalked in and made it unnecessary.\n\nMr. Knightley, a sensible man about seven or eight-and-thirty, was not\nonly a very old and intimate friend of the family, but particularly\nconnected with it, as the elder brother of Isabella\'s husband.\nHe lived about a mile from Highbury, was a frequent visitor,\nand always welcome, and at this time more welcome than usual,\nas coming directly from their mutual connexions in London.  He had\nreturned to a late dinner, after some days\' absence, and now walked\nup to Hartfield to say that all were well in Brunswick Square.\nIt was a happy circumstance, and animated Mr. Woodhouse for some time.\nMr. Knightley had a cheerful manner, which always did him good;\nand his many inquiries after "poor Isabella" and her children were\nanswered most satisfactorily.  When this was over, Mr. Woodhouse\ngratefully observed, "It is very kind of you, Mr. Knightley, to come\nout at this late hour to call upon us.  I am afraid you must have\nhad a shocking walk."\n\n"Not at all, sir.  It is a beautiful moonlight night; and so mild\nthat I must draw back from your great fire."\n\n"But you must have found it very damp and dirty.  I wish you may\nnot catch cold."\n\n"Dirty, sir! Look at my shoes.  Not a speck on them."\n\n"Well! that is quite surprising, for we have had a vast deal\nof rain here.  It rained dreadfully hard for half an hour\nwhile we were at breakfast.  I wanted them to put off the wedding."\n\n"By the bye--I have not wished you joy.  Being pretty well aware\nof what sort of joy you must both be feeling, I have been in no hurry\nwith my congratulations; but I hope it all went off tolerably well.\nHow did you all behave? Who cried most?"\n\n"Ah! poor Miss Taylor! \'Tis a sad business."\n\n"Poor Mr. and Miss Woodhouse, if you please; but I cannot possibly\nsay `poor Miss Taylor.\' I have a great regard for you and Emma;\nbut when it comes to the question of dependence or independence!--At\nany rate, it must be better to have only one to please than two."\n\n"Especially when _one_ of those two is such a fanciful, troublesome creature!"\nsaid Emma playfully.  "That is what you have in your head,\nI know--and what you would certainly say if my father were not by."\n\n"I believe it is very true, my dear, indeed," said Mr. Woodhouse,\nwith a sigh.  "I am afraid I am sometimes very fanciful and troublesome."\n\n"My dearest papa! You do not think I could mean _you_, or suppose\nMr. Knightley to mean _you_.  What a horrible idea! Oh no! I meant\nonly myself.  Mr. Knightley loves to find fault with me, you know--\nin a joke--it is all a joke.  We always say what we like to one another."\n\nMr. Knightley, in fact, was one of the few people who could see\nfaults in Emma Woodhouse, and the only one who ever told her of them:\nand though this was not particularly agreeable to Emma herself,\nshe knew it would be so much less so to her father, that she would\nnot have him really suspect such a circumstance as her not being\nthought perfect by every body.\n\n"Emma knows I never flatter her," said Mr. Knightley, "but I\nmeant no reflection on any body.  Miss Taylor has been used\nto have two persons to please; she will now have but one.\nThe chances are that she must be a gainer."\n\n"Well," said Emma, willing to let it pass--"you want to hear\nabout the wedding; and I shall be happy to tell you, for we all\nbehaved charmingly.  Every body was punctual, every body in their\nbest looks: not a tear, and hardly a long face to be seen.  Oh no;\nwe all felt that we were going to be only half a mile apart,\nand were sure of meeting every day."\n\n"Dear Emma bears every thing so well," said her father.\n"But, Mr. Knightley, she is really very sorry to lose poor Miss Taylor,\nand I am sure she _will_ miss her more than she thinks for."\n\nEmma turned away her head, divided between tears and smiles.\n"It is impossible that Emma should not miss such a companion,"\nsaid Mr. Knightley.  "We should not like her so well as we do, sir,\nif we could suppose it; but she knows how much the marriage is to\nMiss Taylor\'s advantage; she knows how very acceptable it must be,\nat Miss Taylor\'s time of life, to be settled in a home of her own,\nand how important to her to be secure of a comfortable provision,\nand therefore cannot allow herself to feel so much pain as pleasure.\nEvery friend of Miss Taylor must be glad to have her so happily\nmarried."\n\n"And you have forgotten one matter of joy to me," said Emma,\n"and a very considerable one--that I made the match myself.\nI made the match, you know, four years ago; and to have it take place,\nand be proved in the right, when so many people said Mr. Weston would\nnever marry again, may comfort me for any thing."\n\nMr. Knightley shook his head at her.  Her father fondly replied,\n"Ah! my dear, I wish you would not make matches and foretell things,\nfor whatever you say always comes to pass.  Pray do not make any\nmore matches."\n\n"I promise you to make none for myself, papa; but I must, indeed,\nfor other people.  It is the greatest amusement in the world! And\nafter such success, you know!--Every body said that Mr. Weston would\nnever marry again.  Oh dear, no! Mr. Weston, who had been a widower\nso long, and who seemed so perfectly comfortable without a wife,\nso constantly occupied either in his business in town or among his\nfriends here, always acceptable wherever he went, always cheerful--\nMr. Weston need not spend a single evening in the year alone if he did\nnot like it.  Oh no! Mr. Weston certainly would never marry again.\nSome people even talked of a promise to his wife on her deathbed,\nand others of the son and the uncle not letting him.  All manner\nof solemn nonsense was talked on the subject, but I believed none\nof it.\n\n"Ever since the day--about four years ago--that Miss Taylor and I\nmet with him in Broadway Lane, when, because it began to drizzle,\nhe darted away with so much gallantry, and borrowed two umbrellas\nfor us from Farmer Mitchell\'s, I made up my mind on the subject.\nI planned the match from that hour; and when such success has blessed\nme in this instance, dear papa, you cannot think that I shall leave\noff match-making."\n\n"I do not understand what you mean by `success,\'" said Mr. Knightley.\n"Success supposes endeavour.  Your time has been properly and\ndelicately spent, if you have been endeavouring for the last four\nyears to bring about this marriage.  A worthy employment for a young\nlady\'s mind! But if, which I rather imagine, your making the match,\nas you call it, means only your planning it, your saying to yourself\none idle day, `I think it would be a very good thing for Miss Taylor\nif Mr. Weston were to marry her,\' and saying it again to yourself\nevery now and then afterwards, why do you talk of success? Where\nis your merit? What are you proud of? You made a lucky guess;\nand _that_ is all that can be said."\n\n"And have you never known the pleasure and triumph of a lucky guess?--\nI pity you.--I thought you cleverer--for, depend upon it a lucky\nguess is never merely luck.  There is always some talent in it.\nAnd as to my poor word `success,\' which you quarrel with, I do not\nknow that I am so entirely without any claim to it.  You have drawn\ntwo pretty pictures; but I think there may be a third--a something\nbetween the do-nothing and the do-all. If I had not promoted Mr. Weston\'s\nvisits here, and given many little encouragements, and smoothed\nmany little matters, it might not have come to any thing after all.\nI think you must know Hartfield enough to comprehend that."\n\n"A straightforward, open-hearted man like Weston, and a rational,\nunaffected woman like Miss Taylor, may be safely left to manage their\nown concerns.  You are more likely to have done harm to yourself,\nthan good to them, by interference."\n\n"Emma never thinks of herself, if she can do good to others,"\nrejoined Mr. Woodhouse, understanding but in part.  "But, my dear,\npray do not make any more matches; they are silly things, and break up\none\'s family circle grievously."\n\n"Only one more, papa; only for Mr. Elton.  Poor Mr. Elton! You\nlike Mr. Elton, papa,--I must look about for a wife for him.\nThere is nobody in Highbury who deserves him--and he has been\nhere a whole year, and has fitted up his house so comfortably,\nthat it would be a shame to have him single any longer--and I thought\nwhen he was joining their hands to-day, he looked so very much as if\nhe would like to have the same kind office done for him! I think\nvery well of Mr. Elton, and this is the only way I have of doing\nhim a service."\n\n"Mr. Elton is a very pretty young man, to be sure, and a very\ngood young man, and I have a great regard for him.  But if you\nwant to shew him any attention, my dear, ask him to come\nand dine with us some day.  That will be a much better thing.\nI dare say Mr. Knightley will be so kind as to meet him."\n\n"With a great deal of pleasure, sir, at any time," said Mr. Knightley,\nlaughing, "and I agree with you entirely, that it will be a much\nbetter thing.  Invite him to dinner, Emma, and help him to the best\nof the fish and the chicken, but leave him to chuse his own wife.\nDepend upon it, a man of six or seven-and-twenty can take care\nof himself."\n'

Check out the type of data

In [3]:
#Your code in here

In [4]:
#Solution

type(data_emma) #it's a string!

str

Check out the length of the data

In [5]:
#Your code in here

In [5]:
#Solution

len(data_emma) #it's a very long string!

17989

In [7]:
#Your code in here

In [6]:
#Solution
data_emma[3]

'm'

Let's use what we have learnt regarding string methods (slide 59 of the power point presentation). Write a script that transforms the string of the text file into a list. Instead of a comma, write down a full stop. In this way we will be building a list of sentences.

In [9]:
#Your code in here

In [7]:
#Solution
parsed_data = [x.strip() for x in data_emma.split(".")]

In [8]:
parsed_data

['[Emma by Jane Austen 1816]\n\nVOLUME I\n\nCHAPTER I\n\n\nEmma Woodhouse, handsome, clever, and rich, with a comfortable home\nand happy disposition, seemed to unite some of the best blessings\nof existence; and had lived nearly twenty-one years in the world\nwith very little to distress or vex her',
 "She was the youngest of the two daughters of a most affectionate,\nindulgent father; and had, in consequence of her sister's marriage,\nbeen mistress of his house from a very early period",
 'Her mother\nhad died too long ago for her to have more than an indistinct\nremembrance of her caresses; and her place had been supplied\nby an excellent woman as governess, who had fallen little short\nof a mother in affection',
 'Sixteen years had Miss Taylor been in Mr',
 "Woodhouse's family,\nless as a governess than a friend, very fond of both daughters,\nbut particularly of Emma",
 'Between _them_ it was more the intimacy\nof sisters',
 "Even before Miss Taylor had ceased to hold the nominal\noffice of governess, the mildness of her temper had hardly allowed\nher to impose any restraint; and the shadow of authority being\nnow long passed away, they had been living together as friend and\nfriend very mutually attached, and Emma doing just what she liked;\nhighly esteeming Miss Taylor's judgment, but directed chiefly by\nher own",
 "The real evils, indeed, of Emma's situation were the power of having\nrather too much her own way, and a disposition to think a little\ntoo well of herself; these were the disadvantages which threatened\nalloy to her many enjoyments",
 'The danger, however, was at present\nso unperceived, that they did not by any means rank as misfortunes\nwith her',
 'Sorrow came--a gentle sorrow--but not at all in the shape of any\ndisagreeable consciousness',
 '--Miss Taylor married',
 "It was Miss\nTaylor's loss which first brought grief",
 'It was on the wedding-day\nof this beloved friend that Emma first sat in mournful thought\nof any continuance',
 'The wedding over, and the bride-people gone,\nher father and herself were left to dine together, with no prospect\nof a third to cheer a long evening',
 'Her father composed himself\nto sleep after dinner, as usual, and she had then only to sit\nand think of what she had lost',
 'The event had every promise of happiness for her friend',
 'Mr',
 "Weston\nwas a man of unexceptionable character, easy fortune, suitable age,\nand pleasant manners; and there was some satisfaction in considering\nwith what self-denying, generous friendship she had always wished\nand promoted the match; but it was a black morning's work for her",
 'The want of Miss Taylor would be felt every hour of every day',
 'She recalled her past kindness--the kindness, the affection of sixteen\nyears--how she had taught and how she had played with her from five\nyears old--how she had devoted all her powers to attach and amuse\nher in health--and how nursed her through the various illnesses\nof childhood',
 "A large debt of gratitude was owing here; but the\nintercourse of the last seven years, the equal footing and perfect\nunreserve which had soon followed Isabella's marriage, on their\nbeing left to each other, was yet a dearer, tenderer recollection",
 'She had been a friend and companion such as few possessed: intelligent,\nwell-informed, useful, gentle, knowing all the ways of the family,\ninterested in all its concerns, and peculiarly interested in herself,\nin every pleasure, every scheme of hers--one to whom she could speak\nevery thought as it arose, and who had such an affection for her\nas could never find fault',
 'How was she to bear the change?--It was true that her friend was\ngoing only half a mile from them; but Emma was aware that great must\nbe the difference between a Mrs',
 'Weston, only half a mile from them,\nand a Miss Taylor in the house; and with all her advantages,\nnatural and domestic, she was now in great danger of suffering\nfrom intellectual solitude',
 'She dearly loved her father, but he\nwas no companion for her',
 'He could not meet her in conversation,\nrational or playful',
 'The evil of the actual disparity in their ages (and Mr',
 'Woodhouse had\nnot married early) was much increased by his constitution and habits;\nfor having been a valetudinarian all his life, without activity\nof mind or body, he was a much older man in ways than in years;\nand though everywhere beloved for the friendliness of his heart\nand his amiable temper, his talents could not have recommended him\nat any time',
 'Her sister, though comparatively but little removed by matrimony,\nbeing settled in London, only sixteen miles off, was much beyond\nher daily reach; and many a long October and November evening must\nbe struggled through at Hartfield, before Christmas brought the next\nvisit from Isabella and her husband, and their little children,\nto fill the house, and give her pleasant society again',
 'Highbury, the large and populous village, almost amounting to a town,\nto which Hartfield, in spite of its separate lawn, and shrubberies,\nand name, did really belong, afforded her no equals',
 'The Woodhouses\nwere first in consequence there',
 'All looked up to them',
 'She had\nmany acquaintance in the place, for her father was universally civil,\nbut not one among them who could be accepted in lieu of Miss\nTaylor for even half a day',
 'It was a melancholy change; and Emma\ncould not but sigh over it, and wish for impossible things,\ntill her father awoke, and made it necessary to be cheerful',
 'His spirits required support',
 'He was a nervous man, easily depressed;\nfond of every body that he was used to, and hating to part with them;\nhating change of every kind',
 "Matrimony, as the origin of change,\nwas always disagreeable; and he was by no means yet reconciled\nto his own daughter's marrying, nor could ever speak of her but\nwith compassion, though it had been entirely a match of affection,\nwhen he was now obliged to part with Miss Taylor too; and from\nhis habits of gentle selfishness, and of being never able to\nsuppose that other people could feel differently from himself,\nhe was very much disposed to think Miss Taylor had done as sad\na thing for herself as for them, and would have been a great deal\nhappier if she had spent all the rest of her life at Hartfield",
 'Emma smiled and chatted as cheerfully as she could, to keep him\nfrom such thoughts; but when tea came, it was impossible for him\nnot to say exactly as he had said at dinner,\n\n"Poor Miss Taylor!--I wish she were here again',
 'What a pity it\nis that Mr',
 'Weston ever thought of her!"\n\n"I cannot agree with you, papa; you know I cannot',
 'Mr',
 'Weston is such\na good-humoured, pleasant, excellent man, that he thoroughly deserves\na good wife;--and you would not have had Miss Taylor live with us\nfor ever, and bear all my odd humours, when she might have a house of her own?"\n\n"A house of her own!--But where is the advantage of a house of her own?\nThis is three times as large',
 '--And you have never any odd humours,\nmy dear',
 '"\n\n"How often we shall be going to see them, and they coming to see\nus!--We shall be always meeting! _We_ must begin; we must go and pay\nwedding visit very soon',
 '"\n\n"My dear, how am I to get so far? Randalls is such a distance',
 'I could not walk half so far',
 '"\n\n"No, papa, nobody thought of your walking',
 'We must go in the carriage,\nto be sure',
 '"\n\n"The carriage! But James will not like to put the horses to for\nsuch a little way;--and where are the poor horses to be while we\nare paying our visit?"\n\n"They are to be put into Mr',
 "Weston's stable, papa",
 'You know we\nhave settled all that already',
 'We talked it all over with Mr',
 'Weston\nlast night',
 "And as for James, you may be very sure he will always like\ngoing to Randalls, because of his daughter's being housemaid there",
 'I only doubt whether he will ever take us anywhere else',
 'That was\nyour doing, papa',
 'You got Hannah that good place',
 'Nobody thought\nof Hannah till you mentioned her--James is so obliged to you!"\n\n"I am very glad I did think of her',
 'It was very lucky, for I would\nnot have had poor James think himself slighted upon any account;\nand I am sure she will make a very good servant: she is a civil,\npretty-spoken girl; I have a great opinion of her',
 'Whenever I see her,\nshe always curtseys and asks me how I do, in a very pretty manner;\nand when you have had her here to do needlework, I observe she\nalways turns the lock of the door the right way and never bangs it',
 'I am sure she will be an excellent servant; and it will be a great\ncomfort to poor Miss Taylor to have somebody about her that she is\nused to see',
 'Whenever James goes over to see his daughter, you know,\nshe will be hearing of us',
 'He will be able to tell her how we\nall are',
 '"\n\nEmma spared no exertions to maintain this happier flow of ideas,\nand hoped, by the help of backgammon, to get her father tolerably\nthrough the evening, and be attacked by no regrets but her own',
 'The backgammon-table was placed; but a visitor immediately afterwards\nwalked in and made it unnecessary',
 'Mr',
 "Knightley, a sensible man about seven or eight-and-thirty, was not\nonly a very old and intimate friend of the family, but particularly\nconnected with it, as the elder brother of Isabella's husband",
 'He lived about a mile from Highbury, was a frequent visitor,\nand always welcome, and at this time more welcome than usual,\nas coming directly from their mutual connexions in London',
 "He had\nreturned to a late dinner, after some days' absence, and now walked\nup to Hartfield to say that all were well in Brunswick Square",
 'It was a happy circumstance, and animated Mr',
 'Woodhouse for some time',
 'Mr',
 'Knightley had a cheerful manner, which always did him good;\nand his many inquiries after "poor Isabella" and her children were\nanswered most satisfactorily',
 'When this was over, Mr',
 'Woodhouse\ngratefully observed, "It is very kind of you, Mr',
 'Knightley, to come\nout at this late hour to call upon us',
 'I am afraid you must have\nhad a shocking walk',
 '"\n\n"Not at all, sir',
 'It is a beautiful moonlight night; and so mild\nthat I must draw back from your great fire',
 '"\n\n"But you must have found it very damp and dirty',
 'I wish you may\nnot catch cold',
 '"\n\n"Dirty, sir! Look at my shoes',
 'Not a speck on them',
 '"\n\n"Well! that is quite surprising, for we have had a vast deal\nof rain here',
 'It rained dreadfully hard for half an hour\nwhile we were at breakfast',
 'I wanted them to put off the wedding',
 '"\n\n"By the bye--I have not wished you joy',
 'Being pretty well aware\nof what sort of joy you must both be feeling, I have been in no hurry\nwith my congratulations; but I hope it all went off tolerably well',
 'How did you all behave? Who cried most?"\n\n"Ah! poor Miss Taylor! \'Tis a sad business',
 '"\n\n"Poor Mr',
 'and Miss Woodhouse, if you please; but I cannot possibly\nsay `poor Miss Taylor',
 "' I have a great regard for you and Emma;\nbut when it comes to the question of dependence or independence!--At\nany rate, it must be better to have only one to please than two",
 '"\n\n"Especially when _one_ of those two is such a fanciful, troublesome creature!"\nsaid Emma playfully',
 '"That is what you have in your head,\nI know--and what you would certainly say if my father were not by',
 '"\n\n"I believe it is very true, my dear, indeed," said Mr',
 'Woodhouse,\nwith a sigh',
 '"I am afraid I am sometimes very fanciful and troublesome',
 '"\n\n"My dearest papa! You do not think I could mean _you_, or suppose\nMr',
 'Knightley to mean _you_',
 'What a horrible idea! Oh no! I meant\nonly myself',
 'Mr',
 'Knightley loves to find fault with me, you know--\nin a joke--it is all a joke',
 'We always say what we like to one another',
 '"\n\nMr',
 'Knightley, in fact, was one of the few people who could see\nfaults in Emma Woodhouse, and the only one who ever told her of them:\nand though this was not particularly agreeable to Emma herself,\nshe knew it would be so much less so to her father, that she would\nnot have him really suspect such a circumstance as her not being\nthought perfect by every body',
 '"Emma knows I never flatter her," said Mr',
 'Knightley, "but I\nmeant no reflection on any body',
 'Miss Taylor has been used\nto have two persons to please; she will now have but one',
 'The chances are that she must be a gainer',
 '"\n\n"Well," said Emma, willing to let it pass--"you want to hear\nabout the wedding; and I shall be happy to tell you, for we all\nbehaved charmingly',
 'Every body was punctual, every body in their\nbest looks: not a tear, and hardly a long face to be seen',
 'Oh no;\nwe all felt that we were going to be only half a mile apart,\nand were sure of meeting every day',
 '"\n\n"Dear Emma bears every thing so well," said her father',
 '"But, Mr',
 'Knightley, she is really very sorry to lose poor Miss Taylor,\nand I am sure she _will_ miss her more than she thinks for',
 '"\n\nEmma turned away her head, divided between tears and smiles',
 '"It is impossible that Emma should not miss such a companion,"\nsaid Mr',
 'Knightley',
 '"We should not like her so well as we do, sir,\nif we could suppose it; but she knows how much the marriage is to\nMiss Taylor\'s advantage; she knows how very acceptable it must be,\nat Miss Taylor\'s time of life, to be settled in a home of her own,\nand how important to her to be secure of a comfortable provision,\nand therefore cannot allow herself to feel so much pain as pleasure',
 'Every friend of Miss Taylor must be glad to have her so happily\nmarried',
 '"\n\n"And you have forgotten one matter of joy to me," said Emma,\n"and a very considerable one--that I made the match myself',
 'I made the match, you know, four years ago; and to have it take place,\nand be proved in the right, when so many people said Mr',
 'Weston would\nnever marry again, may comfort me for any thing',
 '"\n\nMr',
 'Knightley shook his head at her',
 'Her father fondly replied,\n"Ah! my dear, I wish you would not make matches and foretell things,\nfor whatever you say always comes to pass',
 'Pray do not make any\nmore matches',
 '"\n\n"I promise you to make none for myself, papa; but I must, indeed,\nfor other people',
 'It is the greatest amusement in the world! And\nafter such success, you know!--Every body said that Mr',
 'Weston would\nnever marry again',
 'Oh dear, no! Mr',
 'Weston, who had been a widower\nso long, and who seemed so perfectly comfortable without a wife,\nso constantly occupied either in his business in town or among his\nfriends here, always acceptable wherever he went, always cheerful--\nMr',
 'Weston need not spend a single evening in the year alone if he did\nnot like it',
 'Oh no! Mr',
 'Weston certainly would never marry again',
 'Some people even talked of a promise to his wife on her deathbed,\nand others of the son and the uncle not letting him',
 'All manner\nof solemn nonsense was talked on the subject, but I believed none\nof it',
 '"Ever since the day--about four years ago--that Miss Taylor and I\nmet with him in Broadway Lane, when, because it began to drizzle,\nhe darted away with so much gallantry, and borrowed two umbrellas\nfor us from Farmer Mitchell\'s, I made up my mind on the subject',
 'I planned the match from that hour; and when such success has blessed\nme in this instance, dear papa, you cannot think that I shall leave\noff match-making',
 '"\n\n"I do not understand what you mean by `success,\'" said Mr',
 'Knightley',
 '"Success supposes endeavour',
 'Your time has been properly and\ndelicately spent, if you have been endeavouring for the last four\nyears to bring about this marriage',
 "A worthy employment for a young\nlady's mind! But if, which I rather imagine, your making the match,\nas you call it, means only your planning it, your saying to yourself\none idle day, `I think it would be a very good thing for Miss Taylor\nif Mr",
 "Weston were to marry her,' and saying it again to yourself\nevery now and then afterwards, why do you talk of success? Where\nis your merit? What are you proud of? You made a lucky guess;\nand _that_ is all that can be said",
 '"\n\n"And have you never known the pleasure and triumph of a lucky guess?--\nI pity you',
 '--I thought you cleverer--for, depend upon it a lucky\nguess is never merely luck',
 'There is always some talent in it',
 "And as to my poor word `success,' which you quarrel with, I do not\nknow that I am so entirely without any claim to it",
 'You have drawn\ntwo pretty pictures; but I think there may be a third--a something\nbetween the do-nothing and the do-all',
 'If I had not promoted Mr',
 "Weston's\nvisits here, and given many little encouragements, and smoothed\nmany little matters, it might not have come to any thing after all",
 'I think you must know Hartfield enough to comprehend that',
 '"\n\n"A straightforward, open-hearted man like Weston, and a rational,\nunaffected woman like Miss Taylor, may be safely left to manage their\nown concerns',
 'You are more likely to have done harm to yourself,\nthan good to them, by interference',
 '"\n\n"Emma never thinks of herself, if she can do good to others,"\nrejoined Mr',
 'Woodhouse, understanding but in part',
 '"But, my dear,\npray do not make any more matches; they are silly things, and break up\none\'s family circle grievously',
 '"\n\n"Only one more, papa; only for Mr',
 'Elton',
 'Poor Mr',
 'Elton! You\nlike Mr',
 'Elton, papa,--I must look about for a wife for him',
 'There is nobody in Highbury who deserves him--and he has been\nhere a whole year, and has fitted up his house so comfortably,\nthat it would be a shame to have him single any longer--and I thought\nwhen he was joining their hands to-day, he looked so very much as if\nhe would like to have the same kind office done for him! I think\nvery well of Mr',
 'Elton, and this is the only way I have of doing\nhim a service',
 '"\n\n"Mr',
 'Elton is a very pretty young man, to be sure, and a very\ngood young man, and I have a great regard for him',
 'But if you\nwant to shew him any attention, my dear, ask him to come\nand dine with us some day',
 'That will be a much better thing',
 'I dare say Mr',
 'Knightley will be so kind as to meet him',
 '"\n\n"With a great deal of pleasure, sir, at any time," said Mr',
 'Knightley,\nlaughing, "and I agree with you entirely, that it will be a much\nbetter thing',
 'Invite him to dinner, Emma, and help him to the best\nof the fish and the chicken, but leave him to chuse his own wife',
 'Depend upon it, a man of six or seven-and-twenty can take care\nof himself',
 '"']

In [11]:
type(parsed_data)

list

Check the lenght of the variable

In [9]:
#Your code in here

In [10]:
#Solution

len(parsed_data)

176

Check the first element of the data and then double check its type

In [14]:
#Your code in here

In [12]:
#Solution
parsed_data[0]

'[Emma by Jane Austen 1816]\n\nVOLUME I\n\nCHAPTER I\n\n\nEmma Woodhouse, handsome, clever, and rich, with a comfortable home\nand happy disposition, seemed to unite some of the best blessings\nof existence; and had lived nearly twenty-one years in the world\nwith very little to distress or vex her'

In [13]:
type(parsed_data)

list

Let's practice what you have learnt about slicing strings. Select the first three strings (the first full sentences in the text). Create a variable called "fragment", and store that data.

In [14]:
#Your code in here

In [15]:
#Solution
fragment = parsed_data[10:20]
fragment

['--Miss Taylor married',
 "It was Miss\nTaylor's loss which first brought grief",
 'It was on the wedding-day\nof this beloved friend that Emma first sat in mournful thought\nof any continuance',
 'The wedding over, and the bride-people gone,\nher father and herself were left to dine together, with no prospect\nof a third to cheer a long evening',
 'Her father composed himself\nto sleep after dinner, as usual, and she had then only to sit\nand think of what she had lost',
 'The event had every promise of happiness for her friend',
 'Mr',
 "Weston\nwas a man of unexceptionable character, easy fortune, suitable age,\nand pleasant manners; and there was some satisfaction in considering\nwith what self-denying, generous friendship she had always wished\nand promoted the match; but it was a black morning's work for her",
 'The want of Miss Taylor would be felt every hour of every day',
 'She recalled her past kindness--the kindness, the affection of sixteen\nyears--how she had taught and how she had played with her from five\nyears old--how she had devoted all her powers to attach and amuse\nher in health--and how nursed her through the various illnesses\nof childhood']

Check the type of the variable

In [16]:
#Your code in here

In [17]:
#Solution
type(fragment)

list

Now, let's save this file into our computer. Remember to convert the variable fragment into a string!

In [18]:
#Your code in here

In [19]:
#Solution
with open("fragment_2.txt", "w", encoding = "utf-8") as f:
    f.write(str(fragment))

Now go to the folder in your computer. Voila! The fragment.txt file should be there.

# 2. Pandas

You already now how to import csv files using pandas (pd.read_csv("file.csv")). Let's practice how to create our own dataframe!

We are going to use this data that contains all winners in the history of the olympic games: https://en.wikipedia.org/wiki/Summer_Olympic_Games#List_of_Summer_Olympic_Games 

That's a lot of data! We only need two columns: year, and nation. Let's create a dataframe with both of them!

First, we import the Pandas Library

In [38]:
#Your code in here

In [21]:
#Solution
import pandas as pd

Create a list using the range method. Reproduce the code from slide 40 of the power point slides. We know that we need to create a list that begins in 1896, and that ends in 2020. We also know that we only need one year every other four. Use the range method to do that! Store it in a variable called year.

In [22]:
#Your code in here

In [23]:
#Solution
year = list(range(1896, 2020, 4))

In [24]:
year

[1896,
 1900,
 1904,
 1908,
 1912,
 1916,
 1920,
 1924,
 1928,
 1932,
 1936,
 1940,
 1944,
 1948,
 1952,
 1956,
 1960,
 1964,
 1968,
 1972,
 1976,
 1980,
 1984,
 1988,
 1992,
 1996,
 2000,
 2004,
 2008,
 2012,
 2016]

Now create another variable called country where you include all the information about the countries (sorry, you will have to type all of those yourself.)

In [25]:
country = ["United States", "France", "United States", "UK", "United States", "United States", "United States", "United States",
          "United States", "Germany", "WW2", "WW2", "United States", "United States", "Soviet Union", "Soviet Union", 
          "United States", "United States", "Soviet Union", "Soviet Union", "Soviet Union", "United States", "Soviet Union", 
          "Unified Team", "United States", "United States", "United States", "China", "United States", "United States", 
           "United States"]

Now let's create a dataframe! Check out different ways to do this: https://www.geeksforgeeks.org/different-ways-to-create-pandas-dataframe/

First, let's create a dataframe only with one column named "year" only using the year data.

In [26]:
#Your code in here

In [27]:
#Solution
data = pd.DataFrame(year, columns = ["year"])

In [28]:
data

    year
0   1896
1   1900
2   1904
3   1908
4   1912
5   1916
6   1920
7   1924
8   1928
9   1932
10  1936
11  1940
12  1944
13  1948
14  1952
15  1956
16  1960
17  1964
18  1968
19  1972
20  1976
21  1980
22  1984
23  1988
24  1992
25  1996
26  2000
27  2004
28  2008
29  2012
30  2016

Now, let's add another column called "country" using the country data.

In [29]:
#Your code in here

In [30]:
#Solution

data["country"] = country

In [31]:
data

    year        country
0   1896  United States
1   1900         France
2   1904  United States
3   1908             UK
4   1912  United States
5   1916  United States
6   1920  United States
7   1924  United States
8   1928  United States
9   1932        Germany
10  1936            WW2
11  1940            WW2
12  1944  United States
13  1948  United States
14  1952   Soviet Union
15  1956   Soviet Union
16  1960  United States
17  1964  United States
18  1968   Soviet Union
19  1972   Soviet Union
20  1976   Soviet Union
21  1980  United States
22  1984   Soviet Union
23  1988   Unified Team
24  1992  United States
25  1996  United States
26  2000  United States
27  2004          China
28  2008  United States
29  2012  United States
30  2016  United States

At first sight, it looks like the United States has won lot's of times! To do some data exploration, first let's have a look at how many different countries do we have in our dataset. let's use the drop_duplicates() method in pandas (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html)

In [32]:
#Your code in here

In [33]:
#Solution

countries = data.drop_duplicates(subset = "country")
countries

    year        country
0   1896  United States
1   1900         France
3   1908             UK
9   1932        Germany
10  1936            WW2
14  1952   Soviet Union
23  1988   Unified Team
27  2004          China

In [36]:
data["country"]

0     United States
1            France
2     United States
3                UK
4     United States
5     United States
6     United States
7     United States
8     United States
9           Germany
10              WW2
11              WW2
12    United States
13    United States
14     Soviet Union
15     Soviet Union
16    United States
17    United States
18     Soviet Union
19     Soviet Union
20     Soviet Union
21    United States
22     Soviet Union
23     Unified Team
24    United States
25    United States
26    United States
27            China
28    United States
29    United States
30    United States
Name: country, dtype: object

It looks like we have 8 different countries! Let's do some more analytics to find out how many times each of them has won the Olympic Games.

Transform the column country from the dataframe into a list using the method tolist() in pandas (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.tolist.html).

In [37]:
#Your code in here

In [38]:
#Solution

data_country = data["country"].tolist()

In [39]:
data_country

['United States',
 'France',
 'United States',
 'UK',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Germany',
 'WW2',
 'WW2',
 'United States',
 'United States',
 'Soviet Union',
 'Soviet Union',
 'United States',
 'United States',
 'Soviet Union',
 'Soviet Union',
 'Soviet Union',
 'United States',
 'Soviet Union',
 'Unified Team',
 'United States',
 'United States',
 'United States',
 'China',
 'United States',
 'United States',
 'United States']

Now let's do a for loop to check how things look like inside:

In [40]:
#Your code in here

In [41]:
#Solution

for i in data_country:
    print(i)

United States
France
United States
UK
United States
United States
United States
United States
United States
Germany
WW2
WW2
United States
United States
Soviet Union
Soviet Union
United States
United States
Soviet Union
Soviet Union
Soviet Union
United States
Soviet Union
Unified Team
United States
United States
United States
China
United States
United States
United States

Now we want to know how many times each country has won the olympic games. Let's do that using an empty list and a for loop!

In [42]:
#Your code in here

In [43]:
#Solution

us_winners = []

for i in data_country:
    if i == "United States":
        us_winners.append(i)
        
us_winners = len(us_winners)
us_winners

18

In [44]:
france_winners = []

for i in data_country:
    if i == "France":
        france_winners.append(i)
        
france_winners = len(france_winners)
france_winners

1

In [45]:
uk_winners = []

for i in data_country:
    if i == "UK":
        uk_winners.append(i)
        
uk_winners = len(uk_winners)
uk_winners

1

In [46]:
germany_winners = []

for i in data_country:
    if i == "Germany":
        germany_winners.append(i)
        
germany_winners = len(germany_winners)
germany_winners

1

In [47]:
soviet_winners = []

for i in data_country:
    if i == "Soviet Union":
        soviet_winners.append(i)
        
soviet_winners = len(soviet_winners)
soviet_winners

6

In [48]:
china_winners = []

for i in data_country:
    if i == "China":
        china_winners.append(i)
        
china_winners = len(china_winners)
china_winners

1

Great! It looks like the United States is the all time winner with 18 victories over thirty editions! Now, let's create a list with our values.

In [49]:
#Your code in here

In [50]:
#Solution

winner_countries = [us_winners, france_winners, uk_winners, germany_winners, soviet_winners, china_winners]

In [51]:
winner_countries

[18, 1, 1, 1, 6, 1]

Let's transform that into a dictionary to save it in our computer as a txt.file. Try three different options to store your data: a dictionary, a list, and a tuple.

In [52]:
#Your code in here

In [53]:
#Solution

olympic_winners = {"United States": "18", "France": "1", "UK": "1", "Germany":"1", "Soviet Union":"6", "China": "6"}

In [54]:
olympic_winners

{'United States': '18',
 'France': '1',
 'UK': '1',
 'Germany': '1',
 'Soviet Union': '6',
 'China': '6'}

In [55]:
#Your code in here

In [56]:
#Solution
olympic_winners_2 = [["United States", "18"], ["France", "1"], ["UK", "1"], ["Germany", "1"], ["Soviet Union", "6"], 
                     ["China", "1"]]

In [57]:
for i in olympic_winners_2:
    print(i)

['United States', '18']
['France', '1']
['UK', '1']
['Germany', '1']
['Soviet Union', '6']
['China', '1']

In [58]:
#Your code in here

In [59]:
#Solution

olympic_winners_3 = (("United States", "18"), ("France", "1"), ("UK", "1"), ("Germany", "1"), ("Soviet Union", "6"), 
                     ("China", "1"))

In [60]:
for i in olympic_winners_3:
    print(i)

('United States', '18')
('France', '1')
('UK', '1')
('Germany', '1')
('Soviet Union', '6')
('China', '1')

And now let's save it into a file (the three files: dictionary, list, and tuple):

In [61]:
#Your code in here

In [62]:
#Solution
with open("winners_dictionary.txt", "w", encoding = "utf-8") as f:
    f.write(str(olympic_winners))

In [63]:
with open("winners_list.txt", "w", encoding = "utf-8") as f:
    f.write(str(olympic_winners_2))

In [64]:
with open("winners_tupple.txt", "w", encoding = "utf-8") as f:
    f.write(str(olympic_winners_3))

Let's now do the same thing, but this time using a dataframe to save it as a csv file.

In [65]:
#Your code in here

In [66]:
#Solution

data = pd.DataFrame(winner_countries, columns = ["times winning"])

In [67]:
data

   times winning
0             18
1              1
2              1
3              1
4              6
5              1

In [68]:
countries = ["United States", "France", "UK", "Germany", "Soviet Union", "China"]

In [69]:
data["countries"] = countries

In [70]:
data

   times winning      countries
0             18  United States
1              1         France
2              1             UK
3              1        Germany
4              6   Soviet Union
5              1          China

In [71]:
data.to_csv("olympic_winners.csv")

In [72]:
with open("olympic_winners.csv", "r", encoding = "utf-8") as f:
    data_2 = f.read()

In [73]:
data_2

',times winning,countries\n0,18,United States\n1,1,France\n2,1,UK\n3,1,Germany\n4,6,Soviet Union\n5,1,China\n'

In [34]:
data_3 = pd.read_csv("olympic_winners.csv", index_col = 0)

In [35]:
data_3

   times winning      countries
0             18  United States
1              1         France
2              1             UK
3              1        Germany
4              6   Soviet Union
5              1          China

In [36]:
data_3.iloc[1]

times winning         1
countries        France
Name: 1, dtype: object