# Weather forecast

It would be a great idea to add yet another icon to your Zurich app: one that contains the weather forecast! December is a very cold month when it rains, snows, and roads get icey, and it would be very useful for Eurovision attendees to have some extra information!

Let's create some new scripts and practice conditional statements!

*Disclaimer: all the information in this notebook is totally made up by myself and has 0 scientific accuracy ;)*

### Importing the data

In [32]:
import pandas as pd #let's import the pandas library

In [33]:
data = pd.read_csv("weather_zurich.csv", index_col = 0) #and now let's open the weather_zurich csv dataframe

In [34]:
data

         Day  Humidity  Temperature
0     Monday        85            8
1    Tuesday        70            7
2  Wednesday        90            2
3   Thursday        60            3
4     Friday        85            2
5   Saturday        90            1
6     Sunday        90            0

# 1. Adding one rain column

We would like to add one extra column to our weather forecast called "Precipitations". We know that in Zurich it rains when Humidity is equal or bigger than 85.

Let's begin creating an if statement that prints "It's raining" when humidity is equal or bigger than 85.

In [4]:
#Your code in here

In [5]:
#Solution

In [35]:
humidity = 85

In [36]:
if humidity >= 85:
    print("It's raining")

It's raining

Now let's add one extra else statement that prints "It's not raining" when humidity is smaller than 85.

In [8]:
#Your code in here

In [9]:
#Solution

In [37]:
if humidity  >= 85:
    print("It's raining")
else:
    print("It's not raining")

It's raining

And now let's transform that if statement into a function called "rain" that will be able to tell us whether it is raining or not. Let's use now a return function instead of a print one to be able to use that data later on.

In [11]:
#Your code in here

In [38]:
#Solution 

def rain(humidity):
    if humidity >= 85:
        return("It's raining")
    else:
        return("It's not raining")

In [39]:
rain(70) #Tuesday

"It's not raining"

Now let's pass our function to all the humidity in all the days of the week and let's add one column called "Rain" where we introduce values "yes" or "no".

In [14]:
#Your code here

In [15]:
#Solution

In [40]:
Humidity = data["Humidity"].to_list() #we extract the column from the pandas dataframe to have a look at the data
Humidity

[85, 70, 90, 60, 85, 90, 90]

In [41]:
print(rain(85)) #then we pass our function to each value
print(rain(70))
print(rain(90))
print(rain(60))
print(rain(85))
print(rain(90))
print(rain(90))

It's raining
It's not raining
It's raining
It's not raining
It's raining
It's raining
It's raining

Just to let you know, we can also use the function "map" to do the same thing: apply a function (rain()) to a list of values (humidity).

In [44]:
rain_forecast = list(map(rain, Humidity))

In [45]:
rain_forecast

["It's raining",
 "It's not raining",
 "It's raining",
 "It's not raining",
 "It's raining",
 "It's raining",
 "It's raining"]

And now let's add that column to our dataframe (You donÂ´t know how to use Pandas yet so just run the following cell!)

In [46]:
data["Rain Forecast"] = rain_forecast

In [47]:
data

         Day  Humidity  Temperature     Rain Forecast
0     Monday        85            8      It's raining
1    Tuesday        70            7  It's not raining
2  Wednesday        90            2      It's raining
3   Thursday        60            3  It's not raining
4     Friday        85            2      It's raining
5   Saturday        90            1      It's raining
6     Sunday        90            0      It's raining

# 2. Adding one Ice column

Roads in Switzerland in December can get quite icey. Let's add one extra column to our datafarme called "Ice forecast" where we indicate whether roads will not have ice (temperature equal or bigger than 3 Celsius), a little bit of ice (between 1 and 2 Celsius) and a lot of ice (0 or less Celsius). 

To do this we will use if, elif, and else statements!

In [22]:
#Your code in here

In [23]:
#Solution

In [48]:
temperature = data["Temperature"].to_list() #first we extract and transform the temperature column into a list 
temperature

[8, 7, 2, 3, 2, 1, 0]

In [49]:
#Then we define a new function called ice

def ice(x):
    if x >= 3:
        return("Not ice") #remember to write return statements instead of print ones!
    elif x in range(1, 3): #we write that to indicate in between 1 and two (and we have to add 3 because of Pyhon indexing!)
        return("A little bit of ice")
    else:
        return("A lot of ice")

In [50]:
ice_forecast = list(map(ice, temperature)) #now we apply our function to the temperature column
ice_forecast

['Not ice',
 'Not ice',
 'A little bit of ice',
 'Not ice',
 'A little bit of ice',
 'A little bit of ice',
 'A lot of ice']

In [51]:
data["Ice Forecast"] = ice_forecast #and now we add the column to our dataframe

In [52]:
data

         Day  Humidity  Temperature     Rain Forecast         Ice Forecast
0     Monday        85            8      It's raining              Not ice
1    Tuesday        70            7  It's not raining              Not ice
2  Wednesday        90            2      It's raining  A little bit of ice
3   Thursday        60            3  It's not raining              Not ice
4     Friday        85            2      It's raining  A little bit of ice
5   Saturday        90            1      It's raining  A little bit of ice
6     Sunday        90            0      It's raining         A lot of ice