# Studying Swiss Demographics

Eurovision attendees are going to have some traveling time and they are curious about Switzerland. Let's do yet another icon with some Wikipedia data about Swiss demographics (https://en.wikipedia.org/wiki/List_of_cities_in_Switzerland) and let's practice how to work with control flow (for and while loops!).

# First we import the data

In [15]:
import pandas as pd

In [16]:
data = pd.read_csv("swiss_cities.csv", index_col = 0)

In [17]:
data

       Cities  population           language
0      Zurich      415000             german
1      Geneva      201000             french
2       Basel      177000             german
3    Lausanne      139000             french
4        Bern      133000             german
5     Lucerne       81000             german
6  St. Gallen       75000             german
7      Lugano       63000            italian
8    Fribourg       38000  german and french

# 1. For loops

Let's begin practicing how to loop over lists! Bellow you can find a pandas column transform into a list (remember this trick for future exercises!)

In [18]:
cities = data["Cities"].to_list()
cities

['Zurich',
 'Geneva',
 'Basel',
 'Lausanne',
 'Bern',
 'Lucerne',
 'St. Gallen',
 'Lugano',
 'Fribourg']

Now write a for loop that prints all the cities in that list.

In [5]:
#Your code in here

In [19]:
#Solution

for i in cities:
    print(i)

Zurich
Geneva
Basel
Lausanne
Bern
Lucerne
St. Gallen
Lugano
Fribourg

Now let's see if we can loop not only over lists but also over tuples. First let's transform the language column into a list and then store it into a variable called language. Then convert that variable into a tuple also naming it language, and try to loop over it.

In [7]:
#Your code here

In [21]:
#Solution

language = data["language"].to_list()
language = tuple(language)

In [22]:
language

('german',
 'french',
 'german',
 'french',
 'german',
 'german',
 'german',
 'italian',
 'german and french')

In [23]:
for i in language: #so we can also loop over tuples
    print(i)

german
french
german
french
german
german
german
italian
german and french

# 2. For loops + elif statements

Now let's combine what we have learnt about for loops and elif statements. First let's create a variable named population with the information in that column in the data frame.

In [11]:
#Your code in here

In [24]:
#Solution
population = data["population"].to_list()
population

[415000, 201000, 177000, 139000, 133000, 81000, 75000, 63000, 38000]

Now let's write a function that classifies swiss cities within 3 categories: big, middle size, and small. Instructions:

* Name your function city_size
* The parameter of the function should be a lis
* Begin writing your function using a for loop to iterate over the parameter (input_list)
* Inside the function write 3 conditional statements (1 if and 2 elif) that indicate that big swiss cities are in between 200.000 and 500.000 inhabitants, middle size cities between 100.000 and 190.000, and small size cities between 20.000 and 90.000.

In [13]:
#Your code in here

In [25]:
#Solution

def city_size(input_list):
    for i in input_list: 
        if i > 200000 and i < 500000:
            print("Big Swiss City")
        elif i > 100000 and i < 190000:
            print("Middle Size Swiss City")
        elif i > 20000 and i < 90000:
            print("Small Swiss City")

In [26]:
city_size(population)

Big Swiss City
Big Swiss City
Middle Size Swiss City
Middle Size Swiss City
Middle Size Swiss City
Small Swiss City
Small Swiss City
Small Swiss City
Small Swiss City

# 2. While loops

The main difference between for loops and while loops is that while loops only iterate when certain conditions are specified (for example, are true). To practice how to use for loops, let's open a new data frame where a city size column has been added.

In [17]:
data_b = pd.read_csv("data_b.csv", index_col = 0)

In [18]:
data_b

       Cities  population           language         City Size
0      Zurich      415000             german          Big City
1      Geneva      201000             french          Big City
2       Basel      177000             german  Middle Size City
3    Lausanne      139000             french  Middle Size City
4        Bern      133000             german  Middle Size City
5     Lucerne       81000             german        Small City
6  St. Gallen       75000             german        Small City
7      Lugano       63000            italian        Small City
8    Fribourg       38000  german and french        Small City

Now that we have a lot of Swiss city demographic analytics, let's imagine that we want to write a simulation software to emulate the population dynamics of Switzerland. 

So, just to practice while loops (and because this topic is so interesing!):

* Let's write 3 while loops (big_city, medium_size_city, small_city).
* Try to modify the script from the slides to play around with population sizes among cities.
* See how accurate your simulator is compared to the real data.

In [267]:
#Your code here

In [19]:
#Solution

big_city = 200000 #that is the bare minimum that we have established for considering a city to be big size.

In [20]:
while big_city < 415000: #that is our biggest city size
    print(big_city)
    big_city  += 200000 #that is our observation of the difference between our big city sample

200000
400000

In [21]:
medium_size_city = 100000

In [22]:
while medium_size_city < 200000:
    print(medium_size_city)
    medium_size_city += 30000

100000
130000
160000
190000

In [23]:
small_size_city = 30000

In [24]:
while small_size_city < 100000:
    print(small_size_city)
    small_size_city += 20000

30000
50000
70000
90000