 # Hotel Accountability

You are a sowftware engineer working for one of the hotels where some of the Eurovision attendees are going to stay for 4 nights (14-17h of December 2023). These people are coming from Germany, the United States, Noway, Sweden, Denmark, and The UK, and are bringing cash from their own countries. To make things easy for them (and for the hotel where you are working), let's create a variety of functions to work with different currencies and help everybody to understand well how they are spending their money while in Switzerland!

# 1. Print Fuctions

Print functions just print a value that correspond to some command that we create in the script inside our function. Let's create a variety of **print-functions** to transform 25CHF to three different currencies: Euros, Dollars, and Norwegian Crowns. Google how much is the current exchange value beween Swiss Francs and these three currencies. Also let's add a string to indicate the kind of currency we are working with. 

After that, check let's check out the type of data of each function.

In [1]:
#Your code here

In [1]:
def convertion(x): 
    print(x * 2)

In [2]:
convertion(5)

10

In [3]:
#Solution

def euros(x):
    print((x * 1.03), "Euros")

In [4]:
euros(25)

25.75 Euros

In [5]:
def dollars(x):
    print((x * 1.13), "Dollars")

In [6]:
dollars(25)

28.249999999999996 Dollars

In [7]:
def NOK(x):
    print((x * 12.28), "NOK")

In [8]:
NOK(25)

307.0 NOK

In [9]:
type(euros(25))

25.75 Euros

NoneType

In [10]:
type(dollars(25))

28.249999999999996 Dollars

NoneType

In [11]:
type(NOK(25))

307.0 NOK

NoneType

Now try to do a sum of two functions with different values. Why do you think that there is an error message? How can we fix it?

In [65]:
#Your code in here

In [12]:
#Solution
dollars(25) + euros(15)

28.249999999999996 Dollars
15.450000000000001 Euros

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

### 1.2. Introduction to Return Functions

So, if we would like to do some further operations with those values, it would be very difficult! Let's try to change the print statement for a return one with the euro function. Remember to name your function euros_return to avoid confusion with the print one!

In [68]:
#Your code here

In [69]:
#Solution

In [16]:
def euros_return(x):
    result = [(x * 1.03), "Euros"] #if we add parenthesis then we will get a tupple
    return result

In [17]:
euros_return(25)

[25.75, 'Euros']

In [18]:
type(euros_return(25))

list

Now create two new variables: one called euro_currency where you store the function euros_return with a numerical value of your choice. Then repeat that process and create another function called euro_currency_2. After that called the variable and check its type. How is it different to the euros print function?

In [77]:
#Your code here

In [19]:
#Solution

euro_currency = euros_return(25)

In [20]:
euro_currency

[25.75, 'Euros']

In [21]:
type(euro_currency)

list

In [22]:
euro_currency_2 = euros_return(15)

In [23]:
type(euro_currency_2)

list

Now try to concatenate (+) both euro_currency and euro_currency_2 and store that into a new variable called "total_euros". What happens? Why?

In [24]:
#Your code in here

In [25]:
#Solution
total_euros = euro_currency + euro_currency_2

In [26]:
print(total_euros)

[25.75, 'Euros', 15.450000000000001, 'Euros']

In [27]:
type(total_euros)

list

Find a way to only sum the numerical values of the list (hint: you will need to do some list slicing!). Store that into a new variable called "final_euros".

In [28]:
#Your code in here

In [29]:
#Solution
final_euros = total_euros[0] + total_euros[2]

In [33]:
total_euros[0]

25.75

In [34]:
total_euros[2]

15.450000000000001

In [35]:
final_euros

41.2

In [36]:
type(final_euros)

float

# 2. Return functions

As we have just seen, return functions are very similar to print ones, with the difference that they do return data types that we can further use in our data analysis.

Eurovision attendees have asked if it is possible to bring some cash from their own countries to pay for their rooms in your hotel. To make things easy on the hotel side of things, let's create a return value function that accepts 6 parameters (euros, dollars, NOK, SEK, DKK, GBP (Sterling Pound)) and that returns the total value of one accomodation night in Swiss francs, facilitating accomodation accounting.

In [23]:
#Your code in here

In [41]:
#Solution

def price_per_night(euros, dollars, NOK, SEK, DKK, GBP):
    euros = euros/1.03
    dollars = dollars/1.13
    NOK = NOK/12.28
    SEK = SEK/11.96
    DKK = DKK/7.71
    GBP = GBP/0.91
    one_night = euros + dollars + NOK + SEK + DKK + GBP
    return one_night

The prince for one night at your hotel is 150 CHF. That is 155 Euros, 169 Dollars, 1827 NOK, 1794 SEK, 1557 DKK, and 135 GBP. Use your function to calculate how many CHF you got after everybody paid you using their own native cash.

In [42]:
#your code in here

In [43]:
#Solution

one_night = price_per_night(155, 169, 1827, 1794, 1557, 135)
one_night

949.1186342892394

Now, remember that people are coming Thursday-Sunday. That is three nights (Thursday-Friday-Saturday). Modify your price_per_night function to a price_per_weekend one where you take into account the three day duration.

In [44]:
#Your code in here

In [45]:
#Solution

def price_per_weekend(euros, dollars, NOK, SEK, DKK, GBP):
    euros = euros/1.03
    dollars = dollars/1.13
    NOK = NOK/12.28
    SEK = SEK/11.96
    DKK = DKK/7.71
    GBP = GBP/0.91
    three_nights = (euros + dollars + NOK + SEK + DKK + GBP) * 3
    return three_nights

In [46]:
weekend = price_per_weekend(155, 169, 1827, 1794, 1557, 135)
weekend

2847.355902867718

# 3. Boolean return values

Now let's imagine that some people do not remember whether they booked breakfast included or not with their reservation. The cost of breakfast is 25CHF. Let's create a function that returns True-False boolean values on whether someone paying in **Euros** booked or not breakfast using a one-night 150CHF reservation.

In [30]:
#Your code in here

In [47]:
#Solution

def breakfast_included_euros(x):
    if x >= (150 * 1.03) + (25 * 1.03): #1.03 is the CHF/Euros currency
         return True
    else:
        return False

In [48]:
breakfast_included_euros(190)

True

In [49]:
breakfast_included_euros(150)

False